<div class="d-flex">
    <div class="p-2">
        <a href="https://www.pglevy.com"><img class="avatar text-center mb-3" alt="middle-aged bearded dude smiling" src="https://0.gravatar.com/avatar/ff90aed86c6249f4383218c15b1ae68d" width="48" height="48" /></a>
    </div>
    <div class="p-2">
        <h1 class="mt-0"><a href="https://www.pglevy.com">Philip Levy</a></h1>
    </div>
</div>
<p class="f3-mktg color-fg-muted mb-5">A low-code software designer who speaks a little bit of machine. Democratizing software design and development @appian. Hanging out @lowcodelounge.</p>