<header class="text-center">
    <h1 class="d-inline-block mt-3">
        <a href="https://pglevy.github.io/linkinbio/">
            <div class="d-flex">
                <span class="pr-3"><img class="avatar text-center mb-3" alt="middle-aged bearded dude smiling" src="https://0.gravatar.com/avatar/ff90aed86c6249f4383218c15b1ae68d" width="48" height="48"/></span>
                <span class="">Philip Levy</span>
            </div>
        </a>
    </h1>
    <p class="f3-mktg color-fg-muted mb-5">Human-centered technology designer. <a href="https://appian.com/" rel="nofollow">Appian</a>. <a href="https://designersketches.substack.com/" rel="nofollow">Designer Sketches podcast</a>. <a href="https://github.com/lowcodelounge">Lowcode Lounge</a>.</p>
</header>
