<!doctype html>
<html lang="{{site.lang}}">

<head>
  <meta charset="utf-8">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="color-scheme" content="light dark">
  <title>{{ site.title }}</title>

  <link rel="icon" href="favicon.ico" sizes="any">

  <link rel="stylesheet" href="assets/css/pico.min.css">
  <link rel="stylesheet" href="assets/css/custom.css">
  <link rel="stylesheet" href="assets/css/bootstrap-icons.css">
</head>

<body>
  <header class="container text-center">
    {% include profile.html %}
    {% include interests.html %}
  </header>
  <main class="container text-center">
    {% include links.html %}
  </main>
  <footer class="container text-center">
    {% include footer.html %}
  </footer>
  <script src="assets/js/main.js"></script>
</body>

</html>